body, form{
    background-color: seashell;
}

.error{
    color: red;
    font-weight: bold;
}

legend{
    color: black;
    font-weight: bold;
}

input{
    padding: 5px;
    border-radius: 10px;
}


input[type = submit], input[type = button]{
    border: 2px solid black;
    padding: .375rem .75rem;
    border-radius: .25rem;
    background-color: #E7E7E7;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
}

input[type = submit]:hover, input[type = submit]:focus, input[type = button]:hover, input[type = button]:focus {
  color: white;
  background-color: black;
}


fieldset{
    width: 20%;
    padding: 20px;
    border: 2px solid black;
    margin: 0 auto;
}

form{
    margin-bottom: 50px;
}

h2{
    background-color: black;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

td{
    padding: 10px;
    width: 20%;
    border: 2px solid black;
}

th{
    border: 2px solid black;
    font-size: 1.3em;
}

.volumen{
    text-align: center;
}

.acciones{
    float: right;
}

.emojis{
    text-align: center;
}

footer{
    padding: 15px;
    font-weight: bold;
    width: 97%;
    position: relative;
    text-align: center;
    margin-top: 20px;
    left: 10px;
    background-color: black;
    color: white;
}